<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="board">
    </div>
    <script src="/javascripts/game.js">
    </script>
  </body>
</html>
