.splash{
  position: relative;
  background: url(../images/new-splash.png);
  background-size: cover;
  align-self: center;
  display: inline-block;
  width: 700px;
  height: 700px;
}

body{
  background-color: #1d7fc6;
  display: flex;
  justify-content: center;
}

.buttons{
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.stats {
  display: grid;
  grid-template-columns: auto auto;
}

img{

  height: 40px;

}
