html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  background-color: #1d7fc6;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.splash{
  align-self: center;
  display: inline-block;
  height: 65vh;
}

.buttons{
  align-self: center;
  display: flex;
  flex-direction: column;
  color: #fedb2c;
  font-size: 2rem;
}

.stats {
  display: grid;
  grid-template-columns: auto auto;
}

.stats span {
  padding: 0 10px;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

#play {
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  background: #fedb2c;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
}
