html {
  background: url(../images/bg.png);
  background-size: cover;
}

html, body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
}

a {
  color: #00B7FF;
}

#board {
  align-self: center;
  display: inline-block;
}

row, tile, catan-building, number {
  display: block;
}

tile {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  background: url(../images/Field.png);
  background-size: cover;
  display: inline-grid;
  grid-template-columns: 14px 10px auto 10px 14px;
  grid-template-rows: 48px auto 45px;
  grid-template-areas:
    'top0 road1 top1 road2 top2'
    'road0 . num . road3'
    'bottom0 road5 bottom1 road4 bottom2'
}

number {
  display: inline-block;
  justify-self: center;
  align-self: center;
  background: white;
  border-radius: 15px;
  padding: 15px;
  font-weight: bold;
  grid-area: num;
}

catan-building, catan-road {
  opacity: 0;
}

catan-building.placed, catan-road.placed {
  opacity: 1;
}

catan-building:hover, catan-road:hover {
  opacity: 0.8;
}

catan-building.placed:hover {
  opacity: 1;
}

/* BUILDINGS */

catan-building {
  height: 36px;
  width: 28px;
  z-index: 100;
  transition: 0.1s;
}

catan-building.city {
  height: 39px;
  width: 33px;
}

catan-building.top {
  align-self: end;
  margin-top: -15px;
}

catan-building.top.pos1 {
  margin-top: -25px;
}

catan-building.pos0 {
  margin-left: -13px;
}

catan-building.pos1 {
  margin-left: -4px;
}

catan-building.top.pos1 {
  align-self: start;
  justify-self: center;
}

catan-building.bottom {
  margin-top: -18px;
}

catan-building.bottom.pos1 {
  align-self: end;
  justify-self: center;
  margin-bottom: -12px;
}

/* ROADS */
catan-road {
  height: 10px;
  width: 80px;
}

catan-road.pos0 {
  transform: rotate(90deg);
  margin-left: -40px;
  margin-top: 21px;
  grid-area: road0;
}

catan-road.pos1 {
  transform: rotate(-30deg);
  margin-left: -16px;
  margin-top: 10px;
  grid-area: road1;
}

catan-road.pos2 {
  transform: rotate(30deg);
  margin-left: -52px;
  margin-top: 10px;
  grid-area: road2;
}

catan-road.pos3 {
  transform: rotate(90deg);
  margin-left: -26px;
  margin-top: 28px;
  grid-area: road3;
}

catan-road.pos4 {
  transform: rotate(-30deg);
  margin-left: -52px;
  margin-top: 18px;
  grid-area: road4;
}

catan-road.pos5 {
  transform: rotate(30deg);
  margin-left: -15px;
  margin-top: 19px;
  grid-area: road5;
}

catan-road.pos6 {
  transform: rotate(90deg);
  margin-left: -37px;
  margin-top: 46px;
  grid-area: road0;
}


/* TEXTURES */

tile.grain {
  background: url(../images/Field.png);
  background-size: cover;
}

tile.wood {
  background: url(../images/Forest.png);
  background-size: cover;
}

tile.brick {
  background: url(../images/Mesa.png);
  background-size: cover;
}

tile.iron {
  background: url(../images/Mountain.png);
  background-size: cover;
}

tile.wool {
  background: url(../images/Pasture.png);
  background-size: cover;
}

tile.desert {
  background: url(../images/Desert.png);
  background-size: cover;
}

catan-building.blue {
  background: url(../images/blue-village.png);
  background-size: cover;
}

catan-building.red {
  background: url(../images/red-village.png);
  background-size: cover;
}

catan-building.orange {
  background: url(../images/orange-village.png);
  background-size: cover;
}

catan-building.white {
  background: url(../images/white-village.png);
  background-size: cover;
}

catan-building.blue.city {
  background: url(../images/blue-city.png);
  background-size: cover;
}

catan-building.red.city {
  background: url(../images/red-city.png);
  background-size: cover;
}

catan-building.orange.city {
  background: url(../images/orange-city.png);
  background-size: cover;
}

catan-building.white.city {
  background: url(../images/white-city.png);
  background-size: cover;
}

catan-road.red {
  background: red;
}

catan-road.orange {
  background: orange;
}

catan-road.blue {
  background: blue;
}

catan-road.white {
  background: white;
}
