html {
  background: url(../images/bg.png);
  background-size: cover;
}

html, body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: flex-start;
}

a {
  color: #00B7FF;
}

.buttons {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
}

button, .message {
  border: 15px solid transparent;
  border-image: url(../images/board.png) 3 round;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  background: #c5bfa4;
  color: black;
}

button {
  margin: 5px;
  cursor: pointer;
}

.github img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#board {
  flex: 1 1 auto;
  align-self: center;
  display: inline-block;
  text-align: center;
}

row, tile, catan-building, number {
  display: block;
}

tile {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  background: url(../images/Desert.png);
  background-size: cover;
  display: inline-grid;
  grid-template-columns: 14px 10px auto 10px 14px;
  grid-template-rows: 48px auto 45px;
  grid-template-areas:
    'top0 road1 top1 road2 top2'
    'road0 . num . road3'
    'bottom0 road5 bottom1 road4 bottom2'
}

number {
  background: none;
  display: inline-block;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  font-weight: bold;
  grid-area: num;
  background-image: url(../images/numbers.png);
  background-size: auto 100%;
}

.message {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  overflow-wrap: anywhere;
  color: black;
  align-self: flex-end;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

#fullscreen::after {
  content: "Open fullscreen";
}

html:fullscreen #fullscreen::after {
  content: "Close fullscreen";
}

#chat {
  flex: 1 1 auto;
  height: 300px;
  overflow-y: auto;
}

#send {
  flex: 0 0 auto;
}

.nyan {
  animation: rainbow 5s ease infinite;
  background: #1c1c1c;
  padding: 2px;
}

.resources { /* total height will be 5*(15vh + 3vh) = 90 so will always fit */
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 15px solid transparent;
  margin-left: 2.5vh;
  border-image: url(../images/board.png) 3 round;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  background: #9e8f4c;
  position: fixed;
  left: 0;
}

.resources div {
  margin: 1.5vh;
  height: 15.5vh;
  width: 11.8vh;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  display: flex;
}

.resources div span {
  color: white;
  -webkit-text-stroke: 6px black; /*outline*/
  font-weight: bold;
  flex: 1 1 auto;
  text-align: center;
  align-self: center;
  font-size: 7vh;
}

catan-building, catan-road {
  opacity: 0;
}

catan-building.placed, catan-road.placed {
  opacity: 1;
}

catan-building:hover, catan-road:hover {
  opacity: 0.8;
}

catan-building.placed:hover {
  opacity: 1;
}

/* BUILDINGS */

catan-building {
  height: 36px;
  width: 28px;
  z-index: 100;
  transition: 0.1s;
}

catan-building.city {
  height: 39px;
  width: 33px;
}

catan-building.top {
  align-self: end;
  margin-top: -15px;
}

catan-building.top.pos1 {
  margin-top: -25px;
}

catan-building.pos0 {
  margin-left: -13px;
}

catan-building.pos1 {
  margin-left: -4px;
}

catan-building.top.pos1 {
  align-self: start;
  justify-self: center;
}

catan-building.bottom {
  margin-top: -18px;
}

catan-building.bottom.pos1 {
  align-self: end;
  justify-self: center;
  margin-bottom: -12px;
}

/* ROADS */
catan-road {
  height: 10px;
  width: 80px;
}

catan-road.pos0 {
  transform: rotate(90deg);
  margin-left: -40px;
  margin-top: 21px;
  grid-area: road0;
}

catan-road.pos1 {
  transform: rotate(-30deg);
  margin-left: -16px;
  margin-top: 10px;
  grid-area: road1;
}

catan-road.pos2 {
  transform: rotate(30deg);
  margin-left: -52px;
  margin-top: 10px;
  grid-area: road2;
}

catan-road.pos3 {
  transform: rotate(90deg);
  margin-left: -26px;
  margin-top: 28px;
  grid-area: road3;
}

catan-road.pos4 {
  transform: rotate(-30deg);
  margin-left: -52px;
  margin-top: 18px;
  grid-area: road4;
}

catan-road.pos5 {
  transform: rotate(30deg);
  margin-left: -15px;
  margin-top: 19px;
  grid-area: road5;
}

catan-road.pos6 {
  transform: rotate(90deg);
  margin-left: -37px;
  margin-top: 46px;
  grid-area: road0;
}


/* TEXTURES */

tile.grain {
  background: url(../images/Field.png);
  background-size: cover;
}

tile.wood {
  background: url(../images/Forest.png);
  background-size: cover;
}

tile.brick {
  background: url(../images/Mesa.png);
  background-size: cover;
}

tile.iron {
  background: url(../images/Mountain.png);
  background-size: cover;
}

tile.wool {
  background: url(../images/Pasture.png);
  background-size: cover;
}

tile.desert {
  background: url(../images/Desert.png);
  background-size: cover;
}

catan-building.blue {
  background: url(../images/blue-village.png);
  background-size: cover;
}

catan-building.red {
  background: url(../images/red-village.png);
  background-size: cover;
}

catan-building.orange {
  background: url(../images/orange-village.png);
  background-size: cover;
}

catan-building.white {
  background: url(../images/white-village.png);
  background-size: cover;
}

catan-building.blue.city {
  background: url(../images/blue-city.png);
  background-size: cover;
}

catan-building.red.city {
  background: url(../images/red-city.png);
  background-size: cover;
}

catan-building.orange.city {
  background: url(../images/orange-city.png);
  background-size: cover;
}

catan-building.white.city {
  background: url(../images/white-city.png);
  background-size: cover;
}

catan-road.red {
  background: red;
}

catan-road.orange {
  background: orange;
}

catan-road.blue {
  background: blue;
}

catan-road.white {
  background: white;
}

dice.num1{
  background: url(../images/dice-1.png);
  background-size: cover;
}

dice.num2{
  background: url(../images/dice-2.png);
  background-size: cover;
}

dice.num3{
  background: url(../images/dice-3.png);
  background-size: cover;
}

dice.num4{
  background: url(../images/dice-4.png);
  background-size: cover;
}

dice.num5{
  background: url(../images/dice-5.png);
  background-size: cover;
}

dice.num6{
  background: url(../images/dice-6.png);
  background-size: cover;
}

.resources div#brick {
  background: url(../images/card-brick.png);
  background-size: cover;
}

.resources div#grain {
  background: url(../images/card-grain.png);
  background-size: cover;
}

.resources div#iron {
  background: url(../images/card-iron.png);
  background-size: cover;
}

.resources div#wool {
  background: url(../images/card-wool.png);
  background-size: cover;
}

.resources div#wood {
  background: url(../images/card-wood.png);
  background-size: cover;
}

/* RAINBOW */
@keyframes rainbow {
  0% { /* red */
    color: #e81d1d;
    border-color: #e81d1d;
  }
  14% { /* orange */
    color: #e8b71d;
    border-color: #e8b71d;
  }
  28% { /* yellow */
    color: #e3e81d;
    border-color: #e3e81d;
  }
  42% { /* green */
    color: #1de840;
    border-color: #1de840;
  }
  57% { /* cyan */
    color: #1ddde8;
    border-color: #1ddde8;
  }
  71% { /* blue */
    color: #2b1de8;
    border-color: #2b1de8;
  }
  85% { /* purple */
    color: #dd00f3;
    border-color: #dd00f3;
  }
  100% { /* red */
    color: #e81d1d;
    border-color: #e81d1d;
  }
}
